<h1>Edit Beverage</h1>

<%= form_with(model: @beverage,
              scope: :beverage,
              url: beverage_path(@beverage),
              local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  <div>
    <%= form.label :type %>
    <%= form.select :type, ["Coffee", "Juice"] %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>